<div class="header">  
    {{#if isLogged}}
        <a id="logout-btn" href="#/home">Logout</a> ||
    {{else}}
        <a href="#/login">Login</a> ||
    {{/if}}
    <a href="#/register">Register</a> 
</div>