<div class="header">  
    {{#if isLogged}}
        <a id="logout-btn" href="#/home">Logout</a> ||
        <a href="#/my-cookie">The Cookie</a> ||
    {{else}}
        <a href="#/login">Login</a> ||
        <a href="#/register">Register</a> ||
    {{/if}}
    <a href="#/share">Share</a> ||

</div>