<div class="regiser">
    <h1>Register</h1>
    <input id="username-reg" placeholder="username">
    <input id="password-reg" placeholder="password">
    <button id="register-btn">Register</button>
</div>